*.icon-silver {
    color: white;
}

*.icon-silver {
    color: silver;
}

*.icon-green {
    color: green;
}

*.icon-dark {
    color: gray;
}

.photo-edit{
    display: block;
    margin-top: 14px;
    border-radius: 4px;
    width: 100px;
}